@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(212, 45%, 89%);
    /* width: 1440px; */
    height: auto;
    margin: auto;
    font-size: 62.5%;
}

img {
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
    display: inline-block;
    border-radius: 15px;
}

h1, p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-size: 700;
    color: hsl(218, 44%, 22%);
    margin: 0 25px 25px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 25px;
}

.container {
    display: block;
    background-color: hsl(0, 0%, 100%);
    margin:10% auto;
    padding: 20px;
    width: 340px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px hsl(217, 12%, 79%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}